/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {
  background: -webkit-gradient(linear,left top,left bottom,from(#3d3d3d),to(#000));
  border: 0px;
  border-radius: 0px;
  color: white;
}

.main-container{
  padding-left: 60px;
  padding-right: 60px;
}

blockquote p {
  margin-bottom: 10px;
}
